#todoList{
    list-style-type:none;
    :before{
        content:"☐ "
    }
}
.checked{
    list-style-type:none;
    color:grey;
    &:before{
        content: "☒ "!important
    }
}

#archive{
    list-style-type:none;
    text-decoration: line-through;
    color:grey;
    
    :before{
        content: "☒ "!important;
    }

}